.card {
  border: 5px solid black;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #f8f8f8;
  width: 100%;
  margin: 20px;
}
.card img {
  width: 400px;
  height: 400px;
  margin: 2rem 0;
}

.healthscore {
  font-weight: bold;
}

.title {
  margin-top: 16px;
  font-weight: bold;
}

.specifications,
.metrics {
  list-style: none;
  padding: 0;
  margin: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.metrics li {
  margin-bottom: 4px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.green {
  border: 5px solid rgb(139, 230, 139);
}

.red {
  border: 5px solid rgb(230, 132, 132);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.divParagrafos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 2rem;
}